/* Reset margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f3f2ef;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .profile-header {
    background-color: #000000;
    color: white;
    padding: 30px 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 15px;
  }
  
  .profile-header h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .profile-header p {
    font-size: 1.2em;
  }
  
  .profile-container {
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
  }
  
  .profile-section-title {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
.about-me {
    margin-bottom: 35px;
  }
  
  .about-me p {
    font-size: 1.1em;
    color: #858585;
    margin-top: 10px;
    line-height: 1.8;
  }
  
  .experience {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .experience:last-child {
    border-bottom: none;
  }
  
  .experience .role {
    font-weight: bold;
    font-size: 1em;
    color: #858585;
  }
  .experience .company {
    font-size: 1em;
    color: #858585;
    margin-bottom: 5px;
  }
  
  .experience .duration {
    font-size: 0.9em;
    color: #858585;
  }

  .Education .role {
    font-weight: bold;
    color: #858585;
    margin-bottom: 5px;
  }
